# Thư mục Library/ chứa các file tạm của Unity, không cần đẩy lên GitHub
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/


.vscode/
*.csproj
*.sln
*.user
*.suo


*.apk
*.aab
*.ipa


*.pidb.meta
*.pidb
*.pdb
*.mdb
*.bak
*.swp
*.orig
*.tmp


[Uu]ser[Ss]ettings/


/Assets/**/*.meta


.DS_Store
*.DS_Store
